/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fbfefc;
  color: #142e2e;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  padding: 15px 10%;
  background-image: url('imagens/novofundo.jpg');
  background-size: cover;
  background-position: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #879c57;
  transition: all 0.3s ease;
  font-weight: 600;
  display: inline-block;
}

nav a:hover {
  color: #142e2e;
  transform: translate(5px, -3px) scale(1.05);
}

/* =========================
   HERO - CONTAINER PRINCIPAL
========================= */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 85px 10%;
  gap: 3cm;
}

.hero-img {
  width: 229px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 133px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.hero-img:hover {
  transform: scale(1.05);
}

/* TÍTULO */
.hero-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #7a8f4d;
  letter-spacing: 2px;
}

/* PARÁGRAFO */
.hero-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #546332;
  font-family: 'Open Sans', sans-serif;
}


/* =========================
   RESPONSIVIDADE
========================= */
@media (max-width: 992px) {

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-text {
    max-width: 80%;
  }

  .hero-text p {
    font-size: 15px;
  }

  .hello-img {
  width: 35%;
  max-width: 300px;
  min-width: 225px;
  }
}

/* SKILLS */
.skills {
  text-align: center;
  padding: 80px 10%;
  font-family: 'Open Sans', sans-serif;
}

.skills h2 {
  color: #546332;
}

.skill-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#355654 0%, #1a2527 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle span {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  color: #080409;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2cm;
  height: 2cm;
  margin: 0 auto;
}

/* PROJETOS */
#projetos {
  padding: 60px 20px;
  text-align: center;
  
}

.container-projetos {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-projeto {
  width: 220px;
  height: 120px;
  background-color: #f2f4e6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #879c57;
  font-weight: bold;
  transition: 0.3s;
}

.card-projeto:hover {
  transform: translateY(-5px);
  background-color: #546332;
}

/* CONTATO */
.contato {
  padding: 80px 10%;
  text-align: center;
}

.contato h2 {
  color: #546332;
}

.contato-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card-contato,
.info-contato {
  background-image: url('imagens/novofundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  width: 280px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.card-contato:hover,
.info-contato:hover {
  border: 2px solid #879c57;
  transform: translateY(-5px);
}

.card-contato img {
  margin: 15px 0;
}

/* RESPONSIVO */

@media (max-width: 992px) {

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-img {
    width: 260px;
    margin-top: 30px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 15px;
  }
}


/* 1- Coloquei o qr do insta, falta alterar o tamanho*/